In [1]:
%pylab inline
from app.analysis import Quote

Populating the interactive namespace from numpy and matplotlib

In [2]:
quote = Quote(['TMF', 'UPRO'], 120)
stat = quote.statistics(21)
tmf, upro = stat['21-std']['TMF'], stat['21-std']['UPRO']
print(f"{upro / (tmf + upro):.4f} {tmf / (tmf + upro):.4f}")
stat

0.5515 0.4485

         21-len   21-mean    21-std   21-shrp   drawdown
Symbols
TMF          63  7.440850  7.289590  0.996743   9.589672
UPRO         63  1.708401  8.964202  0.171058  19.546274

In [ ]:
quote.graph(21, {'TMF': 0.5515, 'UPRO': 0.4485})

In [ ]:
Quote(['MUB', 'PGX', 'BXMT', 'VNQ', 'SPLV', 'TMF', 'UPRO', 'MCD'], 120).graph(
    21, {'MUB': .156, 'PGX': .144,
         'BXMT': .12, 'VNQ': .08,
         'SPLV': .20,
         'TMF': .11, 'UPRO': .09,
         'MCD': .1})