In [6]:
%pylab inline
from app.analysis import Quote
quote = Quote(['TMF', 'SPXL', 'EDV', 'QQQ', 'TLT', 'VOO'], 50, 10)
quote.statistics()

Populating the interactive namespace from numpy and matplotlib

         len      mean       std      shrp   drawdown
Symbols
TLT       26  1.975864  1.555736  1.219037   1.698879
TMF       26  5.694811  4.829214  1.162808   5.014042
EDV       26  2.529820  2.190957  1.118440   2.610604
VOO       26  1.505219  2.598479  0.548726   4.575909
SPXL      26  4.348582  7.842994  0.544335  13.410120
QQQ       26  1.654323  3.872774  0.406674   8.008436

In [ ]:
quote.setup_mask(['TMF', 'SPXL'])
quote.find_optimal_ratio()

In [ ]:
quote.graph({'TMF': 0.63, 'SPXL': 0.37})

In [ ]:
quote.setup_mask(['EDV', 'QQQ'])
quote.find_optimal_ratio(.9)

In [ ]:
quote.graph({'EDV': 0.65, 'QQQ': 0.35})

In [ ]:
quote.setup_mask(['TLT', 'VOO'])
quote.find_optimal_ratio()

In [ ]:
quote.graph({'TLT': 0.64, 'VOO': 0.36})