In [ ]:
from IPython.display import JSON
from app import create_app
r = create_app().robinhood

In [ ]:
JSON(r.get('https://api.robinhood.com/accounts/').json())

In [ ]:
JSON(r.get('https://api.robinhood.com/portfolios/').json())

In [ ]:
JSON(r.get('https://nummus.robinhood.com/portfolios/').json())

In [ ]:
JSON(r.get('https://api.robinhood.com/marketdata/forex/quotes/3d961844-d360-45fc-989b-f6fca761d511/').json())

In [ ]:
JSON(r.get('https://api.robinhood.com/quotes/71d81e7d-783c-4b8c-b574-ee50fcc4ce3a/').json())

In [ ]:
JSON(r.get('https://api.robinhood.com/positions/?nonzero=true').json())

In [ ]:
JSON(r.get('https://api.robinhood.com/dividends/').json())

In [1]:
%pylab inline
from app.analysis import Quote

Populating the interactive namespace from numpy and matplotlib

In [2]:
quote = Quote(['TMF', 'SPXL', 'EDV', 'TLT', 'QQQ', 'VOO'], 720, 252)
quote.statistics()

         len       mean        std      shrp   drawdown
Symbols
QQQ      245  12.775269  10.117516  1.065011  22.796651
VOO      245   8.380735   7.376472  0.865012  19.476758
SPXL     245  13.943205  24.465997  0.488155  50.167051
TLT      245   1.441175   6.257361 -0.089307  10.688603
EDV      245   1.285370   7.755665 -0.092143  15.110580
TMF      245  -1.402248  18.181857 -0.187123  33.904114

In [3]:
quote.data.pct_change(quote.period).corr()

Symbols       EDV       QQQ      SPXL       TLT       TMF       VOO
Symbols
EDV      1.000000 -0.266071 -0.155741  0.995784  0.995003 -0.098611
QQQ     -0.266071  1.000000  0.976177 -0.326865 -0.322096  0.961234
SPXL    -0.155741  0.976177  1.000000 -0.217655 -0.207744  0.994117
TLT      0.995784 -0.326865 -0.217655  1.000000  0.998716 -0.157094
TMF      0.995003 -0.322096 -0.207744  0.998716  1.000000 -0.146215
VOO     -0.098611  0.961234  0.994117 -0.157094 -0.146215  1.000000